.App {
  padding: 20px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.time .header {
  background-color: #000;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.time .header h2 {
  color: #DDDDDD;
  padding: 9px;
}

ul {
  list-style: none;
}

.toggles {
  padding: 0px 20px 0px 90px;
  display: flex;
  width: 92%;
  justify-content: space-between;
}

.toggle {
  padding: 10px;
}

.toggle.on {
  opacity: 0.5
}

.toggle a {
  text-decoration: none;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Session-favorite {
  height: 30px;
  width: 30px;
}

.Session-details {
  display: flex;
  border-bottom: 2px solid #888;
}

.Session-details div {
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
